<link rel="import" href="../polymer/polymer-element.html">
<!-- <link rel="import" href="../paper-tabs/paper-tabs.html"> -->

<dom-module id="mis-tabs">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>COMPONENTE TABS<h2>
    
      <!-- <paper-tabs></paper-tabs> -->
  </template>

  <script>
    /**
     * `mis-tabs`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class MisTabs extends Polymer.Element {
      static get is() { return 'mis-tabs'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'mis-tabs'
          }
        };
      }
    }

    window.customElements.define(MisTabs.is, MisTabs);
  </script>
</dom-module>
